#wrapper {
width: 100%;
margin-left: auto;
margin-right: auto;
max-width: 1600px;
}
#banner {
    background-color: white;
    height:20%;
   line-height: normal;
   text-align: center;
   padding-bottom: 2px;
   position: absolute;
   z-index: 150;
}

#primaryLink {
	
    background-color: #B1CA7D; 
    height: 20%;
    line-height: 50px;	
    word-spacing: 50px;
    Text-decoration: none;
    clear: both;
	text-align: center;
}
#primaryLink a:hover {
    background-color:#85ad33;
    color: white;
    border-radius:10px;
    margin: 0px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom: 16px;
    padding-top: 16px;
	}
#map {
float:left;
 width:100%;
 height:100%;
position: absolute;
z-index: 50;
}
 #map-ui {
    position:absolute;
    top:15px;left:15px;
    z-index:100;
    }
    #map-ui ul {
      list-style:none;
      margin:0;padding:0;
      }
      #map-ui a {
        font-size:13px;
        background:#FFF;
        color:#3C4E5A;
        display:block;
        margin:0;padding:0;
        border:1px solid #BBB;
        border-bottom-width:0;
        min-width:138px;
        padding:10px;
        text-decoration:none;
        }
      #map-ui a:hover { background:#ECF5FA; }
      #map-ui li:last-child a {
        border-bottom-width:1px;
        -webkit-border-radius:0 0 3px 3px;
                border-radius:0 0 3px 3px;
        }
      #map-ui li:first-child a {
        -webkit-border-radius:3px 3px 0 0;
                border-radius:3px 3px 0 0;
        }
      #map-ui a.active {
        background:#3887BE;
        border-color:#3887BE;
        color:#FFF;
        }

 #map-info {
    position:absolute;
    float: right;
    top:15px;right:50px;
    z-index:100;
    max-width:300px;
    }
    #map-info ul {
      list-style:none;
      margin:0;padding:0;
        font-size:13px;
        background:#FFF;
        color:#3C4E5A;
        display:block;
        margin:0;padding:0;
        border:1px solid #BBB;
        border-bottom-width:0;
        min-width:138px;
        padding:10px;
        text-decoration:none;
      }
      #map-info  {
        }
      #map-info a:hover { background:#ECF5FA; }
      #map-info li:last-child a {
        border-bottom-width:1px;
        -webkit-border-radius:0 0 3px 3px;
                border-radius:0 0 3px 3px;
        }
      #map-info li:first-child a {
        -webkit-border-radius:3px 3px 0 0;
                border-radius:3px 3px 0 0;
        }
      #map-info a.active {
        background:#3887BE;
        border-color:#3887BE;
        color:#FFF;
        }

#footer {
    
    background-color: red;
    clear: both;
    min-height: 10%;
    
}
#leftNav{
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    text-align: left;
    Text-decoration: none;
}

#shLink
{
list-style-type:none;
margin:0;
padding:0;
Text-decoration: none;
}
#phLink
{
list-style-type:none;
margin:0;
padding:0;
Text-decoration: none;
}
.li{
    display: inline;
    Text-decoration: none;
}
.nav_element {
width: 25%;
display: inline;
float: left;
color:#336600;
}


.a:link {
Text-decoration: none;
}
